@import 'swiper/swiper-bundle.css';
$default-font-family: 'Poppins', sans-serif;

body {
    margin: 0 !important;
}

p {

    margin: 0;
    padding: 0;
}

hr {
    border: 0.5px solid #ced4da;
    margin: 8px 0px 8px 0px;
    width: 100%;
}
.container {
    font-family: $default-font-family;
    flex-direction: column;
    padding-bottom: 32px;
    background-color: #fffcfc;
    background-image: linear-gradient(136deg, #fffcfc 0%, #d6d6d6 100%);
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
}

.navbar {
    z-index: 9999;
    position: fixed;
    display: flex;
    background-color: black;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    padding: 12px;
}

.loader-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-listing-wrapper {
    padding: 16px 16px 0px 16px;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-listing-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;

    &__filled {
        font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    }
}

.absolute-center {
    font-size: 72px;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 999;
    transform: translate(-50%, -50%);
}

.feature-not-ready-notif {
    padding: 12px;
    width: 240px;
    background-color: black;
    border-radius: 8px;
    text-align: center;
    box-shadow:
    rgba(0, 0, 0, 0.19) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.fade-enter-active {
    transition: opacity 0.2s;
}

.fade-leave-active {
    transition: opacity 1s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}