.text-white {
    color: white;
}

.text-blue {
    color: #1da1f2;
}

.text-orange {
    color: rgb(255, 166, 0);
}

.text-green {
    color: #00aa5b;
}

.text-gray-0 {
    color: #f8f9fa;
}
.text-gray-1 {
    color: #e9ecef;
}

.text-gray-2 {
    color: #dee2e6;
}

.text-gray-3 {
    color: #ced4da;
}

.text-gray-4 {
    color: #adb5bd;
}

.text-gray-5 {
    color: #6c757d;

}

.text-gray-6 {
    color: #495057;
}

.text-gray-8 {
    color: #343a40;
}

.text-gray-8 {
    color: #212529;
}

.text-small {
    font-size: 12px;
}

.text-medium {
    font-size: 14px;
}

.text-large {
    font-size: 16px;
}

.text-xlarge {
    font-size: 24px;
}

.text-bold {
    font-weight: bold;
}